@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #000;
    min-width: 600px;
}

.c-grey {
    color: #aaa;
}

.text-center {
    text-align: center;
}

.rel {
    position: relative;
}

[contenteditable]:focus {
  outline: none;
}